.card-header {
    color: #0e4607;
    text-align: center;
}

body {
    background-color: #0e4607;
}

.list-group-item {
    text-align: center;
}

.mx-auto {
    border-color: red;
}

.container {
    position: relative;
    top: 5vh;
}